.compose-div{
    width: 220px;
    padding-left: 8px;
    vertical-align: middle;
    padding-bottom: 10px;
    position: fixed;
    top: 86px;
}

.compose-button{
    width: 150px;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    background-color: #cde0ff;;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .15s;
}

.compose-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2)
}

.compose-image-div{
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    
}
