.mail-box{
    position: fixed;
    background-color: white;
    top: 112px;
    left: 265px;
    bottom: 18px;
    right: 11px;
    z-index: 5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    min-width: 250px;
    overflow-y: scroll;
}

.mail-box-header{
    right: 11px;
    background-color: white;
    left: 265px;
    top: 64px;
    position: fixed;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-left-section{
    flex-direction: row;
    display: flex;
    width: 150px;
    align-items: center;
}

.checkbox-div{
    width: 20px;
    height: 26px;
    padding-right: 2px;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 6px;
}

.checkbox-div:hover{
    background-color:rgb(237, 230, 230);
}

.checkbox{
    height: 15px;
    width: 15px;
}

.down-cross-div{
    height: 26px;
    width: 5px;
    padding-right: 15px;
    border-radius: 2px;
    text-align: center;
    margin-top: 4px;
}

.down-cross-div:hover{
    background-color:rgb(237, 230, 230) ;
}

.down-cross{
    height: 20px;
    width: 20px;
}

.reload-div{
    margin-left:40px ;
    height: 25px;
    width: 26px;
    padding-top: 5px;
    border-radius: 50%;
    padding-left: 5px;
}

.reload-div:hover{
    background-color: rgb(237, 230, 230) ;
}

.reload{
    transition: 0.7s;
    cursor: pointer;
}

.reload:active{
    animation: rotateAnimation .7s ;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-blank-space{
    height: 48px;
    flex: 1;
    width: 0;
}

.header-right-section{
    display: flex;
    align-items: center;
    width: 250px;
}

.text{
    font-size:12px;
    font-weight: 550;
    padding:12px;
    transition: .15s;
    border-radius: 3px;
    margin-right: 2px;
}

.text:hover{
    background-color: rgb(237, 230, 230);
}

.left-arrow-div{
    border-radius: 2px;
    margin-right: 20px;
}

.left-arrow-div:hover{
    background-color: rgb(237, 230, 230);
}

.left-arrow{
    height: 22px;
}

.right-arrow-div{
    border-radius: 2px;
    margin-right: 25px;
}

.right-arrow-div:hover{
    background-color: rgb(237, 230, 230);
}

.right-arrow{
    height: 22px;
}

.keyboard-div{
    border-radius: 5px;
    display: flex;
}

.keyboard-div:hover{
    background-color:rgb(237, 230, 230) ;
}

.temp-header{
    width: 100%;
    height: 60px;
    display: flex;

}

.primary-div{
    display: flex;
    align-items: end;
    width: 200px;
    padding-bottom: 14px;
    transition: .15s;
    font-size: 15px;
    cursor: pointer;
}

.primary-div:hover{
    background-color: rgb(237, 230, 230) ;
    border-bottom: 2px solid;
}

.inbox{
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: -2px;
}

.mail-box-content{
    position: absolute;
    right: 0px;
    left: 0;
    bottom: 0;
    top: 60px;
}
.mail{
    border-bottom: 1px lightgrey solid;
    height: 20px;
    padding: 10px 0 10px 0;
    display: flex;
    cursor: pointer;
}
.mail:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.sender{
    display: flex;
    width: 200px;
    align-items: center;
    font-weight: 600;
    min-width: 150px;
}

.mail-checkbox-div{
    margin-left: 10px;
    border-radius: 50%;
    text-align: center;
    padding:5px;
}

.mail-checkbox-div:hover{
    background-color: rgb(237, 230, 230);
}

.star{
    margin-left:10px ;
    padding: 3px;
    margin-right:10px;
    color: lightgrey;
    border-radius: 50%;
}

.star:hover{
    background-color:rgb(237, 230, 230) ;
}

.star img{
    height: 21px;
}

.subject{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    font-size: 14px;
    min-width: 200px;
}

.date{
    min-width: 100px;
    text-align: end;
    font-size: 13px;
    margin-right: 10px;
}


::-webkit-scrollbar{
    width: 10px;
    background-color:white;
}


::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(237, 230, 230) ;
    border-radius: 5px;
}

@media(max-width:770px){

    .mail-box{
        left: 5px;
    }

    .mail-box-header{
        left: 5px;
    }
}